.review-item-paremt{
    border: 2px solid red;
    width: 95%;
    margin: 10px auto;
}

.order-proceed-checkout{
    width:95%;
    height: 70px;
    margin-top: 25px;
    background-color: rgb(228, 137, 18);
    color: rgb(0, 0, 0);
    font-size: 25px;
    cursor: pointer;
    border-radius: 15px;
    border: 0;
}