/* .book-info{
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(139, 163, 163);
    height: 750px;
    color: brown;
    padding: 10px 20px;
}

.single-book img{
    width: 100%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.single-book button{
    width: 100%;
} */

.single-book{
    background-color: rgb(139, 163, 163);
    border-radius: 20px;
    width: 500px;
    height: 750px;
    position: relative;
}

.single-book img{
    width: 95%;
    display: flex;
    margin: 10px auto;
    border-radius: 15px;
}

.book-info{
    color: brown;
    padding: 10px 20px;
}

.single-book button{
    width: 100%;
    height: 50px;
    border-radius: 0 0 20px 20px;
    font-size: 1.5em;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0;
    border: none;
} 

.single-book button:hover{
    background-color:orange;
    cursor: pointer;
    color: black;
    font-weight: 700;
}